body
{
	background-image: url('body.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: center;
	position: relative;
	


}
/*body::after
{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height:100%;
    width: 100%;
    background-color: grey;
    opacity: -7;
    z-index: -1;
}*/
/*---------------------------nav-bar-------------------------------------------------*/
nav
{
	 height: 60px;
	 background-color: #E32934;
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: space-between;
	 /*position: sticky;*/
	 top: 0px;
}
nav h2 {
    color: white;
    margin: 0px;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
}
div a
{

    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 27px;
    font-family: 'Hi Melody', cursive;
}
#nav-bar-header
{
	animation-delay: 4s;
}

/*------------------------------------Responsive nav bar---------------------------------*/
@media(max-width: 900px)
{
   #main-nav
   {
   	flex-direction: column;
   	height: 130px;
   }
   #nav-bar
   {
   	margin-top: 2px;
   	margin-bottom:50px;
   }
}
@media(min-width: 500px)and(max-width: 840px)
{
	#main-nav
   {
   	flex-direction: column;
   }
   #nav-bar a
   {
   	margin:0px;
   	
   }
}


/*---------------------------------------------------body part-------------------------------*/
#imge1
{
	height: 700px;
	border-radius: 13px;
	box-shadow: 0px 0px 12px red;
	animation-delay: 3s;
}
#imge1:hover
{
	transform:scale(0.8,0.8);
}
#cbody1
{
	font-family: 'Hi Melody', cursive;
	font-size: 25px;
	font-weight: bold;
	background:linear-gradient(45deg,#99ff99,#ffff99);
	margin-top: 13px;
	animation-delay: 1s;
}

#imge2
{
	height: 700px;
	border-radius: 13px;
	box-shadow: 0px 0px 12px red;
	animation-delay: 1s;
}
#cbody2
{
	font-family: 'Hi Melody', cursive;
	font-size: 25px;
	font-weight: bold;
	background:linear-gradient(45deg,#99ff99,#ffff99);
	margin-top: 13px;
	animation-delay: 1s;
}

/*-------------------------------------------importance part-----------------------------------------*/
#imp-card
{
	border: 2px solid black;
	box-shadow: 0px 0px 50px #808080;
}
#imp-card:hover
{
	transform:translateX(50px);
}
#imp-cardhead
{
	background: linear-gradient(to left,#ffccff,#99ccff);
}
#imp-cardbody
{
	background-image: url('hand.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100%;
	background-position: center;
	position: relative;
	font-weight: bold;
	color:#F65314;
}
#imp-img
{
	height: 250px;
}
#imp-card2
{
	border: 2px solid black;
	box-shadow: 0px 0px 50px #808080;
}
#imp-card2:hover
{
	transform:translateX(-50px);
}
#imp-cardhead2
{
	background: linear-gradient(to left,#ffccff,#99ccff);
}
#imp-cardbody2
{
	background-image: url('hand.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	backface-visibility:0.6px;
	font-weight: bold;
	color:#F65314;
}
#imp-img2
{
	height: 250px;
}
#imp-card3
{
	border: 2px solid black;
	box-shadow: 0px 0px 50px #808080;
}
#imp-cardhead3
{
	background: linear-gradient(to left,#ffccff,#99ccff);
}
#imp-cardbody3
{
	background-image: url('hand.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	backface-visibility:0.6px;
	font-weight: bold;
	color:#F65314;
}
#imp-img3
{
	height: 250px;
}
#imp-card4
{
	border: 2px solid black;
	box-shadow: 0px 0px 50px #808080;
}
#imp-cardhead4
{
	background: linear-gradient(to left,#ffccff,#99ccff);
}
#imp-cardbody4
{
	background-image: url('hand.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	backface-visibility:0.6px;
	padding-bottom: 120px;
	text-align: center;
	font-weight: bold;
	color:#F65314;

}
#imp-img4
{
	height: 250px;
}
#imp-card5
{
	border: 2px solid black;
	box-shadow: 0px 0px 50px #808080;
}
#imp-cardhead5
{
	background: linear-gradient(to left,#ffccff,#99ccff);
}
#imp-cardbody5
{
	background-image: url('hand.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	backface-visibility:0.6px;
	font-weight: bold;
	color:#F65314;
}
#imp-img5
{
	height: 250px;
}
#imp-card6
{
	border: 2px solid black;
	box-shadow: 0px 0px 50px #808080;
}
#imp-cardhead6
{
	background: linear-gradient(to left,#ffccff,#99ccff);
}
#imp-cardbody6
{
	background-image: url('hand.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	backface-visibility:0.6px;
	font-weight: bold;
	color:#F65314;
}
#imp-img6
{
	height: 250px;
}

/*-------------------------------------------footer section-------------------------------*/
footer
{
	background-color: #3F729B;
}
#textarea
{
	padding: 40px;
	color: red;
}
section img
{
	background-color: white;
	border-radius: 1px;
	margin-left: 1px;
}